.button
  padding: 13px 20px
  border: none
  border-radius: 2px
  text-transform: uppercase
  cursor: pointer
  box-shadow: none
  transition: 0.2s
  &--primary
    background-color: rgba($primary, 1)
    border: 1px solid $primary
    color: $light
    &:hover
      border: 1px solid $light
      box-shadow: 0px 5px 15px rgba($light, 0.2)
      background-color: rgba($light, 0.2)
  &--outline
    background-color: transparent
    border: 1px solid $light
    color: $light
    &:hover
      box-shadow: 0px 5px 15px rgba($light, 0.2)
      background-color: rgba($light, 0.2)