@media screen and ( max-height: 660px )
  .hero
    &__scroll-down
      display: none
    
@media screen and ( max-width: 1320px )
  .nav
    &__item
      margin-right: 2rem
      &:first-child
        margin-left: 0rem
  .contacts
    &__phone
      margin-right: 2rem
  
  .projects
    &__swiper-container
      &--text
        margin-top: -260px
      &--image
        max-width: 570px

  .clients
    &__row
      display: flex
      flex-wrap: wrap
      justify-content: center
      align-items: center
      margin-top: 45px
    &__card
      margin: 0px 50px
      margin-bottom: 100px
      &:last-of-type
        margin-bottom: 0px

@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .hero
    &__scroll-down
      &:hover
        &::before
          transform: translateX(-24px)
          width: 90px
  .nav
    &__item
      margin-right: 1.5rem
  .contacts
    &__phone
      margin-right: 1.5rem

  .projects
    &__heading
      font-size: 22px
      line-height: 138.6%
    &__section-title
      max-width: 25rem
    &__swiper-container
      max-width: 28rem
      &--text
        margin-top: -200px
      &--image
        max-width: 510px
    &__swiper-text
      width: 37%
  .team
    &__people-info
      max-width: 90%
    &__about
      max-width: 47.333rem
    &__col
      margin: 32px 20px 0px

@media screen and ( max-width: 991px )
  .nav
    &__item
     display: none
  
  .row
    display: block
    max-width: 392px
    width: 98%
    margin: 0 auto
  
  .card
    margin-bottom: 0rem

  .page-subtitle
    max-width: 550px

  .projects
    &__row
      max-width: 80%
      margin: 0 auto
    &__section-title
      text-align: center
      min-width: 100%
      align-items: center
    &__description
      max-width: 315px
      margin-bottom: 36px
    &__title-word
      justify-content: center
      &::after
        display: none
    &__swiper-slider
      display: block
    &__swiper-text
      width: 50%
      margin: 0
    &__swiper-container
      &--image
        min-width: 100%
      &--text
        max-width: 100%
        align-self: start
        margin: 0

  .control
    &__form
      display: flex
      flex-direction: column
      max-width: 400px
    &__email-form
      margin: 0
      margin-top: 50px
      margin-bottom: 50px
    &__form-button
      order: 6
      margin: 0 auto
      margin-top: 20px
      max-width: 210px
    &__input
      color: $light
    &__policy
      margin-top: 0px

  .team
    &__row
      flex-direction: column
      align-items: center
    &__card
      margin-top: 40px
      &--first
        margin-top: 0px
    &__people-title
      font-size: 18px
    &__people-subtitle
      font-size: 18px
    &__people-xp-box
      font-size: 13px

@media screen and ( max-width: 768px )
  .hero
    &__content
      margin-left: 0rem
    &__instagram
      display: none
    &__scroll-down
      display: none
  .go-up
    display: none

@media screen and ( max-width: 576px )
  .hero
    &__text
      max-width: 27.7rem
    &__button
      display: block
      width: 100%
      &--primary
        margin-bottom: 2.4rem
        margin-bottom: 1.85rem

  .contacts
    &__phone
      color: $light
      margin-right: 0rem
      &::after
        display: none
    &__button
      display: none
  .projects
    &__row
      max-width: 100%
    &__description
      font-size: 14px
      max-width: 305px
      margin-top: 25px
      margin-bottom: 39px
    &__swiper-slide
      margin-bottom: 38px
    &__swiper-container
      &--image
        max-height: 100%

  .footer
    &__content
      background: $dark
    &__wrap
      background: $dark

  .team-and-clients
    padding: 0px 0px 210px 0px
    background-color: $dark
    background-image: none
  
  .team
    &__section
      color: $light
    &__subtitle
      color: $light
    &__about-text
      color: $light
    &__about
      display: none
  .clients
    display: none
  
  .footer
    &__adress-and-map
      margin-top: 0px
    &__adress
      margin-bottom: 40px
      order: 5
    &__menu
      display: none

@media screen and ( max-width: 500px )
  .container
    width: 90%
  .title
    margin-top: 3px
    font-size: 23px
    line-height: 132.83%
    max-width: 27.14rem
  .subtitle
    margin-top: 10px
    font-size: 18px
    margin-bottom: 33px
  .hero
    &__text
      max-width: 26.5rem

  .types
    &__section
        margin: 6.9rem 0rem 3.25rem 0rem

  .section
    &-title
      &__heading
        font-size: 22px
        &--white
          color: $light
          font-size: 22px
  .page-subtitle
    &__text
      &--white
        color: $light


  .row
    display: block
    max-width: 392px
    width: 100%

  .card
    margin-bottom: -6rem 
    &__text
      margin: 0
      bottom: 11.55rem
      max-width: 22.5rem
    &__price-tag
      text-align: center
      bottom: -0.65rem
      padding: 0.8rem 1rem
      min-width: 15.7rem
    &__list
      margin: 0 0 2.8rem 1.3rem

  .page-subtitle
    max-width: 308px
    margin-bottom: 38px
    &__text
      font-size: 1.25rem
      line-height: 137%
      font-style: normal
      font-weight: normal

  .design
    background-color: $dark

  .swiper-text
    &__heading
      font-size: 14px
    &__description
      font-size: 14px

  .projects
    &__description
      margin-top: 22px
      margin-bottom: 39px
      line-height: 170.84%
    &__swiper-slide
      margin-bottom: 38px
    &__swiper-container
      &--image
        max-height: 100%

    &__nav
      margin-bottom: 2px

  .control
    background-color: $dark
    color: $light
    padding-bottom: 0px
    &__video
      margin-top: 40px
      min-height: 207px
      background-size: cover
    &__description
      font-size: 14px
      line-height: 172.5%
      max-width: 100%
      &::before
        margin-top: 29px
        margin-bottom: 15px
    &__form
      margin-top: 25px
    &__email-form
      margin-top: 59px
      margin-bottom: 25px
      font-size: 16px
    &__label
      font-size: 16px
      color: rgba($light, 0.5)
    &__input
      padding-top: 2px
      font-size: 18px
      border-bottom: 1px solid rgba($light, 0.7)
      &::placeholder
        color: $light
    &__input-email
      padding-bottom: 5px
    &__policy
      margin: 0
      margin-left: -13px
    &__form-button
      padding-top: 17px
      padding-bottom: 16px
      margin-bottom: -26px 
      margin-top: 62px
      min-width: 100%
      
    

  .policy
    &__label
      &::before
        margin-top: 2px
        margin-left: -1px
        width: 1.5rem
        height: 1.5rem

  .footer
    &__group
      flex-basis: 100%
      margin-top: 3.3rem
    &__title-form
      font-size: 20px
      margin-bottom: 1.1rem
      line-height: 138.6%
    &__group
      &-phone
        margin-top: 3.8rem
      &-question
        margin-top: 3.9rem
    &__label
      font-size: 15px
    &__input
      font-size: 18px
    &__policy
      margin-top: 0.45rem
    &__policy-label
      margin-left: 1px
      font-size: 16px
      justify-content: start
    &__button
      margin-top: 5.56rem
      min-width: 100%
      padding: 1rem 4.2rem 1rem


@media screen and ( max-width: 376px )
  .projects
    &__description
      margin-top: 25px
      margin-bottom: 41px
      line-height: 163.84%
    &__swiper-slide
      margin-bottom: 25px
    &__swiper-text
      margin-right: -9px
      padding-bottom: 32px
      padding-right: 10px 
    &__swiper-container
      &--image
        margin-top: -2px
        margin-bottom: 32px
        max-height: 202px
    &__swiper-button-prev
      margin-left: 50%
      transform: translateX(-248%)
    &__swiper-button-next
      margin-left: 50%
      transform: translateX(-248%)
    &__swiper-pagination  
      margin-left: 50%
      transform: translateX(-120%)

  .swiper-text
    &__heading
      margin-bottom: 9px

  .control
    &__description
      min-width: 101%

  .video
    &__play-button
      max-width: 37px
      max-height: 37px

  .team
    margin-bottom: 27px
    &__subtitle
      max-width: 375px
    &__row
      display: flex
      align-items: center
    &__col
      margin: 32px 0px 0px
      margin-top: 121px
      // margin-left: 25px
      &:first-of-type
        margin-top: 43px
    &__image
      max-width: 304px
      & img
        width: 100%
        max-height: 357px
        object-fit: cover
    &__people-info
      top: 50px
      max-width: 77%
    