*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px
body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem
img
  max-width: 100%
.section
  &--dark
    color: $light
  &-title
    &__heading
      text-align: center
      font-family: 'Yeseva One', cursive
      text-transform: uppercase
      font-style: normal
      font-weight: normal
      font-size: 20px
    &__image
      display: flex
      align-items: center
      justify-content: center
      &::before, &::after
        content: ''
        width: 32px
        height: 2px
        background-color: $primary
        border-radius: 30px
        margin: 0px 10px

.card
  margin-bottom: -6rem
  & img
    display: block
    width: 100%
  &__text
    position: relative
    margin: 0 auto
    max-width: 23.571rem
    bottom: 8.8rem
    padding: 1.65rem 2.428rem
    background-color: #fff
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
  &__title
    font-family: 'Yeseva One', cursive
    font-style: normal
    font-weight: normal
    font-size: 1.28rem
    line-height: 1.78rem
    margin: 0 0 0.48rem 0
  &__list
    margin: 0 0 2.8rem 1.2rem
    padding: 0
    font-family: FuturaBookC, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 1.07rem
    line-height: 1.85rem
    color: $secondary
  &__price-tag
    position: absolute
    left: 0
    bottom: -1.7rem
    min-width: 16.285rem
    font-family: Yeseva One, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 1.285rem
    line-height: 1.785rem
    text-transform: uppercase
    background-color: $primary
    color: $light
    box-shadow: 5px 5px 10px rgba($primary, 0.3)
    &--sup
      font-size: 0.714rem

.page-subtitle
  display: block
  margin: 0 auto
  max-width: 741px 
  text-align: center
  &__text
    font-style: normal
    font-weight: normal
    font-size: 1.41rem
    line-height: 1.928rem

input
  outline: none