.projects
  padding: 128px 0px 92px 0px
  &__section-title
    text-align: left
  &__heading
    font-family: Yeseva One
    font-style: normal
    font-weight: normal
    font-size: 27px
    line-height: 37px
    letter-spacing: -0.07em
    text-transform: uppercase
    color: $primary
    margin-top: -3px
  &__title-word
    display: flex
    align-items: center
    &::after
      content: ''
      margin-left: 34px
      width: 92px
      height: 1px
      background-color: $primary
  &__description
    font-style: normal
    font-weight: normal
    font-size: 1.285rem
    line-height: 162%
    max-width: 31.571rem
    margin-bottom: 46px

  &__col
    display: flex
    margin-bottom: 64px
  &__col-left
    display: flex
    flex-direction: column
    justify-content: space-between
  &__col-right
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-left: 40px
 
  &__swiper-slide
    display: flex
    flex-wrap: wrap 
    & img
      height: 100%
      width: 100%
      // max-width: 679px
      // max-height: 482px

.swiper-text
  padding-bottom: 36px
  &__heading
    font-family: Yeseva One, cursive
    font-style: normal
    font-weight: normal
    font-size: 1.285rem
    line-height: 138.6%
    text-transform: uppercase
    color: $primary
    margin: 0px 0px 7px 0px
  &__description
    font-style: normal
    font-weight: normal
    font-size: 1.071rem
    line-height: 135.8%
.swiper
  &-button
    &-prev
      bottom: 0
      left: 1px
      top: auto
      width: 42px
      height: 14px
      background: transparent url('../img/arrow-prev.svg') no-repeat center
      &::after
        display: none
    &-next
      bottom: 0
      top: auto
      width: 42px
      height: 14px
      background: transparent url('../img/arrow-next.svg') no-repeat center
      &::after
        display: none
  &-pagination
    &-bullet
      width: 0.683rem
      height: 0.683rem
      background-color: rgba($light, 0.3)
      &-active
        background-color: $light

.swiper-container-horizontal>.swiper-pagination-bullets
  width: auto
  bottom: -1px
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
  margin: 0px 10px