.steps
  padding-top: 30.15rem
  padding-bottom: 35.800rem
  margin-top: -470px
  background: $dark url('../img/steps_bg.svg') no-repeat center
  background-size: cover
  &__content
    display: flex
    justify-content: space-between
  &__row
  &__row-left
    margin-left: -9px
    max-width: 30% 
  &__row-right
    max-width: 63% 
    position: relative
    display: flex

  &__description
    font-family: FuturaDemiC, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 1.071rem
    line-height: 21px
    text-transform: uppercase
  &__heading
    margin-top: 12px
    margin-bottom: 85px
    font-family: Yeseva One
    font-style: normal
    font-weight: normal
    font-size: 27px
    line-height: 37px
    text-transform: uppercase
    color: $primary
    &--block
      display: flex
      align-items: center
      &::after
        content: ''
        position: absolute
        margin-left: 212px
        width: 92px
        height: 1px
        background-color: $primary
  &__slide-number
    font-family: 'Yeseva One', cursive
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 25px
    text-transform: uppercase
  &__swiper-slide
    margin-top: 0px

  &__number
    font-family: Yeseva One, cursive
    font-style: normal
    font-weight: normal
    font-size: 1.285rem
    line-height: 25px
    text-transform: uppercase
  &__title
    font-family: Yeseva One
    font-style: normal
    font-weight: normal
    font-size: 1.071rem
    line-height: 23px
    text-transform: uppercase
    color: $primary
  &__description
    font-style: normal
    font-weight: normal
    font-size: 1.071rem
    line-height: 25px
    max-width: 24.07rem

.steps-slide
  &__title
    margin-top: 19px
    margin-bottom: 0px
    max-width: 262px
    font-family: 'Yeseva One', cursive
    font-style: normal
    font-weight: normal
    font-size: 15px
    line-height: 22px
    text-transform: uppercase
    color: $primary
  &__description
    font-style: normal
    font-weight: normal
    max-width: 337px
    font-size: 15px
    &--first
      margin-top: 9px
      margin-bottom: 0
      line-height: 169%
    &--second
      margin-top: 12px
      line-height: 169%
      margin-bottom: 91px
  & img
    width: 100%

.pagination-steps
  display: flex
  margin-left: 0px
  margin-top: 92px
  justify-content: space-between
  flex-wrap: wrap
  &__block
    color: $secondary
    margin: 0px 0px 0px 30px
    min-width: 30%
    &--1
      margin-left: 0
      margin-bottom: 40px
    &--2
      // margin-right: 31px
    &--3
      // min-width: 90px
      // padding-left: 36px
      // margin-right: 0
      // width: 20%
    &--4
      // margin-top: -30px
      margin-left: 0
      margin-bottom: 0
    &--5
      // margin-top: -30px
      // margin-right: 31px
      margin-bottom: 44px
    &--6
      // min-width: 90px
      // padding-left: 36px
      // margin-top: -30px
      // margin-right: 0
      margin-bottom: 44px
      // width: 20%
    &--active
      color: $light
  &__number
    position: relative
    display: block
    font-family: 'Yeseva One', cursive
    font-style: normal
    font-weight: normal
    font-size: 15px
    line-height: 21px
    text-transform: uppercase
    margin-bottom: 10px
    &::before
      content: ''
      position: absolute
      bottom: 0
      left: 2px
      width: 16px
      height: 1px
      background-color: $primary
  &__description
    font-size: 15px
    line-height: 18px  
  





  