.steps
  padding-top: 38.595rem
  padding-bottom: 35.800rem
  margin-top: -470px
  background: $dark url('../img/steps_bg.svg') no-repeat center
  &__content
    display: flex
    justify-content: space-between
  &__row
    max-width: 50%
    
  &__description
    font-family: FuturaDemiC, sans-serif
    font-style: normal
    font-weight: 600
    font-size: 1.071rem
    line-height: 21px
    text-transform: uppercase
  &__heading
    font-family: Yeseva One
    font-style: normal
    font-weight: normal
    font-size: 27px
    line-height: 37px
    text-transform: uppercase
    color: $primary
    &--block
      display: flex
      align-items: center
      &::after
        content: ''
        position: absolute
        margin-left: 188px
        width: 92px
        height: 1px
        background-color: $primary


.steps-slide
  position: relative