.team-and-clients
  background-color: $light
  background-image: url('../img/bg_line2.svg'), url('../img/bg-city.svg')
  background-repeat: no-repeat, repeat-x
  background-position-y: bottom
  background-size: cover, auto 50% 
  

.team
  padding: 100px 0px
  &__section
    margin-bottom: 1.28rem
  &__subtitle
    margin-bottom: 3.48rem
    max-width: 32rem
    &-text
      font-size: 20px
      line-height: 27px
  &__row
    display: flex
    justify-content: center
  &__col
    margin: 32px 52px 0px
  &__card
    position: relative
  &__icon
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    left: -35px
    top: -35px
    min-width: 70px
    min-height: 70px
    background-color: $primary
    box-shadow: 0px 5px 20px rgba($primary, 0.5)
    & img
      display: block
  &__image
    max-width: 19.36rem
    max-height: 25.473rem
  &__people-info
    position: relative
    padding-top: 20px
    max-width: 86%
    margin: 0 auto
    margin-top: -79px
    text-align: center
    background-color: $light
  &__people-title
    display: block
    font-family: Yeseva One
    font-style: normal
    font-weight: normal
    font-size: 1.285rem
    line-height: 25px
  &__people-subtitle
    display: block
    font-size: 1.285rem
    line-height: 26px
    margin-top: 2px
    color: $secondary
  &__people-xp-box
    max-width: 100%
    margin-top: 20px
    padding: 13px 0px 11px
    background-color: $primary
    font-family: 'Yeseva One', cursive
    font-style: normal
    font-weight: normal
    font-size: 0.928rem
    line-height: 20px
    text-transform: uppercase
    color: $light
  &__about
    max-width: 40.571rem
    &::before
      content: ''
      display: block
      margin: auto
      margin-top: 53px 
      margin-bottom: 10px
      width: 55px
      height: 2px
      border-radius: 5px
      background-color: $primary
    &-text
      font-size: 20px
      line-height: 34px

.clients
    